<div class="call-to-action-wrap">
    <div class="call-to-action">
        <div class="d-flex flex-row justify-content-center align-items-center gap-4 text-light fs-5 z-2 position-relative">
            <div> <%= text %></div>
            <a class="call-to-action-button" type="button" href=<%= link %>><%= button_text %></a>
        </div>
    </div>
</div>